<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUserModalLabel">Добавить нового пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/users/save}" method="post">
                    <div class="form-group">
                        <label for="newUsername">USERNAME:</label>
                        <input type="text" class="form-control" id="newUsername" name="username" required title="Введите уникальный username"
                               placeholder="Введите уникальный username" />
                    </div>
                    <div class="form-group">
                        <label for="newFirstName">FirstName:</label>
                        <input type="text" class="form-control" id="newFirstName" name="firstName" required/>
                    </div>
                    <div class="form-group">
                        <label for="newLastName">LastName:</label>
                        <input type="text" class="form-control" id="newLastName" name="lastName" required/>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">PASSWORD:</label>
                        <input type="password" class="form-control" id="newPassword" name="password" required placeholder="*********"/>
                    </div>
                    <div class="form-group">
                        <label>Роли:</label>
                        <div>
                            <p th:each="role : ${allRoles}">
                                <label>
                                    <input type="checkbox" name="roles" th:value="${role.id}" />
                                    <span th:text="${role.name}"></span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить!" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>